<!doctype html>
<html lang="en">

<head>
  <title>Virtual Try-On Makeup Look - Beauty Mirrors</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/home.css">
</head>

<body>
  <section>
    <header>
      <h2><a href="#" class="logo">Beauty Mirrors</a></h2>
      <div class="navigation">
        <a href="/">Home</a>
        <a href="#">About</a>
        <a href="#">Info</a>
        <a href="#">Services</a>
        <a href="#">Contact</a>
      </div>
    </header>
    <div class="content container">
      <div class="info">
        <h2>Try It On</h2>
        <!-- <h2><br><span>Try It On</span></h2> -->
        <p style="color: antiquewhite;">Time to makeup your mind! Experience your perfect makeup shades or try a bold new look with Beauty Mirrors virtual try-on tool.
          <br>
          <br>
          To begin, upload your photo.</p>

        <form action='/' method="Post" enctype="multipart/form-data">
          <div class="d-flex justify-content-left" >
            <input title="" type="file" id="image_uploads" name="file" accept=".jpg, .jpeg, .png" multiple>       
          </div>
          <div class="preview">
            <p>No files currently selected for upload</p>
          </div>
          <div class="d-flex justify-content-left">
            <button type="submit" class="btn btn-primary" onclick="loading();" style="
            background-color: #226A80; border-color: #226A80;">APPY FILTER</button>
          </div>
        </form>
      </div>
    </div>
    <div class="media-icons">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
  </section>

  <!-- <div class='section'>
    <nav class="navbar navbar-expand-lg navbar-light bg-light"> 
      <a class="navbar-brand" href="#">Beauty Mirrors</a>
      <div class="collapse navbar-collapse" style="margin-left:30%;" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/howitworks">How it works</a>
          </li>
        </ul>
      </div>
    </nav> -->
  <!-- <section>
    <header>
      <h2><a href="#" class="logo">Beauty Mirrors</a></h2>
      <div class="navigation">
        <a href="#">Home</a>
        <a href="#">About</a>
      </div>
    </header>
    <div class="content">
      <div class="info">
        <h2>Like Nature <br><span>Be Creative!</span></h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates, ipsam architecto, eius, obcaecati quis dolorum sapiente non officia nesciunt voluptatem unde dicta possimus! Illo laborum eos quam nemo, possimus fugit?</p>
        <a href="#" class = "info-btn">More Info</a>
      </div>
    </div> 
    <div class="media-icons">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>

          <div class='col'>  
          <form action='/' method="Post" enctype="multipart/form-data">
            <div class="d-flex justify-content-center">
              <label for="image_uploads">UPLOAD YOUR IMAGE HERE!</label>
              <input type="file" id="image_uploads" name="file" accept=".jpg, .jpeg, .png" multiple>
            </div>
            <div class="preview">
              <p>No files currently selected for upload</p>
            </div>
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-primary" onclick="loading();" style="box-shadow: 0 1px 3px #7b7b7b;
              background-color: #42b5ff; 
              border-color: #42b5ff;">SUBMIT</button>
            </div>
          </form>
        </div>

      </div>
    </div>
    </div>
  </section>
  </div>   -->

  <script>
    const input = document.querySelector('input');
    const preview = document.querySelector('.preview');

    input.style.opacity = 100;
    input.addEventListener('change', updateImageDisplay);

    function updateImageDisplay() {
      while (preview.firstChild) {
        preview.removeChild(preview.firstChild);
      }
      input.style.display = "None";
      const curFiles = input.files;
      if (curFiles.length === 0) {
        const para = document.createElement('p');
        para.textContent = 'No files currently selected for upload';
        preview.appendChild(para);
      } else {
        const list = document.createElement('ol');
        preview.appendChild(list);

        for (const file of curFiles) {
          const listItem = document.createElement('li');
          const para = document.createElement('p');
          if (validFileType(file)) {
            // para.textContent = `File name ${file.name}, file size ${returnFileSize(file.size)}.`;
            const image = document.createElement('img');
            image.src = URL.createObjectURL(file);
            image.height = 400

            listItem.appendChild(image);
            listItem.appendChild(para);
          } else {
            para.textContent = `File name ${file.name}: Not a valid file type. Update your selection.`;
            listItem.appendChild(para);
          }

          list.appendChild(listItem);
          list.style = "display:flex; justify-content: space-between; "
        }
      }
    }
    // https://developer.mozilla.org/en-US/docs/Web/Media/Formats/Image_types
    const fileTypes = [
      "image/apng",
      "image/bmp",
      "image/gif",
      "image/jpeg",
      "image/pjpeg",
      "image/png",
      "image/svg+xml",
      "image/tiff",
      "image/webp",
      "image/x-icon"
    ];
    function validFileType(file) {
      return fileTypes.includes(file.type);
    }
    function returnFileSize(number) {
      if (number < 1024) {
        return number + 'bytes';
      } else if (number >= 1024 && number < 1048576) {
        return (number / 1024).toFixed(1) + 'KB';
      } else if (number >= 1048576) {
        return (number / 1048576).toFixed(1) + 'MB';
      }
    }
  </script>
  jQuery first, then Popper.js, then Bootstrap JS
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>